.Modal_container {
  background-color: var(--Modal);
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  min-width: 300px;
  top: 0%;
  left: 50%;
  margin-top: 50px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

@media screen and (max-width: 600px) {
  .Modal_container {
    transform: scale(0.85);
    margin-top: -50px; /* Negative half of height. */
    margin-left: -170px; /* Negative half of width. */
    top: 20%;
  }
}
